.user-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#question-details h1 {
  font-size: 19px;
}

#question-details h2 {
  font-size: 24px;
  margin-top: 20px;
}

#question-details h3 {
  font-size: 24px;
  margin-top: 20px;
}

#question-details h4 {
  font-size: 15px;
  margin-top: 20px;
}

#question-details p {
  font-size: 14px;
}

#question-details ol, ul {
  padding-left: 1rem;
}
